.channel-list {
  .menu-label {
    color: inherit;
    align-items: center;
    margin: 0 0 0.5rem;

    .column {
      padding: 0.2rem;
    }

    .show-channel-form-button {
      font-size: 1rem;
      color: $grey;

      &:hover {
        color: #fff;
      }
    }
  }

  .channel-item {
    .channel-link {
      color: inherit;
      padding: 0.8rem;

      .channel-color {
        width: 1.05rem;
        height: 1.05rem;
        padding: 0;
        margin-right: 1rem;
        vertical-align: middle;
      }
    }
  }
}
