html,
body
  min-height: 100%;

.no-background {
  background: none !important;
}

.account-settings-tabs
  .account-settings-bar
    background: $brand-light-grey;
    &.is-dark
      background: lighten($brand-secondary, 20%);

.list--four-line
  .list__tile
    height: 100%;
