.empty-state
  text-align: center

  .empty-state--image
    width: 100%
    height: auto
    max-width: 350px

  .empty-state--heading
    margin-top: 1rem
    margin-bottom: 0
    font-size: 1.5rem

  .empty-state--message
    opacity: 0.8
    font-size: 1rem
    margin-top: 0.5rem
