.sidebar
  .jewel
    background: $brand-primary
    color: #fff
    padding: 1px 4px
    display: inline-block
    border-radius: 2px
    min-width: 22px
    text-align: center
    font-size: 0.7rem
    font-weight: bold

.application--dark
  .sidebar
    background-color: $brand-secondary
